[submodule "third_party/mcpelauncher-linker"]
	path = third_party/mcpelauncher-linker
	url = https://github.com/o-hex/mcpelauncher-linker
[submodule "third_party/libjnivm"]
	path = third_party/libjnivm
	url = https://github.com/ChristopherHX/libjnivm
